@use "sass-modules/variables" as v;
@use "sass-modules/desktop";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 32px;
  color: white;
  font-family: "Spartan", sans-serif;
  background-color: v.$Main-background;
}

.container {
  padding: 2rem;
}

// triple toggle switch
.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calc {
  font-size: 2rem;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  .theme {
    position: relative;
    top: 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
    width: fit-content;
    height: 0.8rem;
    margin-right: 1.5rem;
  }
}

.center {
  .number {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: v.$Very-dark-desaturated-blue2;
  border-radius: 1rem;
  padding: 0.1rem;
}

.custom-radio-button {
  cursor: pointer;

  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  .checkmark {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: hsl(6, 63%, 50%);
    border-radius: 100%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.custom-radio-button input {
  display: none;
}

.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}

// calculator display
.secondRow {
  overflow: hidden;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background-color: v.$Very-dark-desaturated-blue3;
  margin-top: 1.5rem;
  align-items: center;
}

.thirdRow {
  grid-gap: 0.8rem;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  margin-top: 1.5rem;
  width: 100%;
  background-color: v.$Very-dark-desaturated-blue2;
  border-radius: 1rem;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 4rem);

  button {
    cursor: pointer;

    padding-top: 0.5rem;
    font-family: "Spartan", sans-serif;
    font-size: 1.8rem;
    border: none;
    border-bottom: 0.3rem solid v.$Grayish-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: v.$Light-grayish-orange;
    color: v.$Very-dark-grayish-blue;

    &:active {
      margin-top: 0.3rem;
      border: 0;
    }
  }

  .del,
  .reset {
    padding: 0;
    background-color: v.$Desaturated-dark-blue;
    color: white;
    font-size: 1rem;
    border-bottom: 0.3rem solid v.$Desaturated-dark-blue2;
  }

  .reset,
  .equal {
    padding: 0;
    grid-column: span 2;
    font-size: 1rem;
  }
  .equal {
    background-color: v.$Red;
    border-bottom: 0.3rem solid v.$Dark-red;
    color: white;
  }
}
