@use "variables" as v;

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container {
    width: 33.33%;

    .secondRow {
      padding: 3rem 2rem;
      border-radius: 0.5rem;
    }

    .thirdRow {
      grid-gap: 1.3rem;
      border-radius: 0.5rem;
      padding: 2rem;
    }
  }
}
